<div class='media_header' style="height: auto; background: #e6e7e8; padding: 10px 0 10px 0">
    <div>
      <a href="https://avtonom.org/" style="padding-left: 20px">
        <img src="https://storage.googleapis.com/gsc-link/assets/images/avtonom/avtonom_logo_2lines.png" style="width: 150px; height: 50px;">
      </a>
    </div>
  </div>
