<div class='media_header' style="height: auto; background: #fff; padding: 20px 0 10px 0; border-bottom: 8px solid #e9ebec;">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <div>
      <a href="https://www.azadliq.org/" style="margin: auto;">
        <img src="https://storage.googleapis.com/gsc-link/assets/images/azerazadliq/azer_azadliq_logo.svg" style="width: 120px; height: 50px;">
      </a>
    </div>
  </div>
