<div class='media_header' style="height: auto; background: #1359a7; padding: 10px 0 10px 0">
    <div>
      <a href="https://gubernia.media/" style="padding-left: 20px">
        <img src="https://storage.googleapis.com/gsc-link/assets/images/gubernia/gubernia-logo.png" style="width: 300px; height: 60px;">
      </a>
    </div>
</div>
