<div class='media_header' style="height: auto; background: white; padding: 10px 0 10px 0">
    <div>
        <a href="https://holod.media/" style="display: block;">
            <img src="https://storage.googleapis.com/gsc-link/assets/images/holod/holodlogo.png" style="display: block; margin: auto; width: 185px; height: 75px;">
        </a>
    </div>
</div>
