<div class='media_header' style="height: auto; background: white; padding: 30px 0 10px 0; border-bottom: 1px solid #e9e9e9;">
    <div>
        <a href="https://protokol.band/" style="display: flex; text-decoration: none;">
            <img src="https://storage.googleapis.com/gsc-link/assets/images/protokolband/protokol_logo.png" style="display: block; width: 100px; height: 60px;">
            <span class="protikol-logo-text">
                <span class="protokol-logo-text-title">ПРОТОКОЛ</span>
            </span>
        </a>
    </div>
</div>
