<div class='media_header' style="height: auto; background: #fff; padding: 20px 0 10px 0">
    <div>
      <a href="https://te-st.ru/" style="padding-left: 20px">
        <img src="https://storage.googleapis.com/gsc-link/assets/images/te_st/te_st_logo.svg" style="width: 130px; height: 70px;">
      </a>
    </div>
  </div>
