@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Sans', sans-serif !important;
}

p {
    font-family: 'PT Sans', sans-serif !important;
}

img {
    max-width: 100% !important;
}

a span {
    color: #1d79de !important;
    border-bottom: 0px !important;
}
a span:hover {
    color: #1c5493 !important;
    border-bottom: 0px !important;
}

a strong {
    color: #1d79de !important;
    border-bottom: 0px !important;
}
a strong:hover {
    color: #1c5493 !important;
    border-bottom: 0px !important;
}
 a {
     border-bottom: 0px !important;
 }
