<div class="text_footer">Это сохранённая версия страницы. Оригинальная версия <a href="{{ source_url }}" target="_blank">находится здесь</a> <!-- и доступна с <a href="https://bypasscensorship.org/ru" target="_blank">Bypass Censorship.</a> -->
</div>
